*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
}

body{
    background: rgb(5,5,5);
    background: linear-gradient(90deg, rgba(5,5,5,1) 13%, rgba(17,19,19,1) 33%, rgba(58,68,70,1) 98%);
}
.logo:hover{
    cursor: pointer;
    
}

.container-logo{
    position: absolute;
}
.logo{
    padding: 20px;
    width:100px;
    border-radius:20px;
    margin: 20px 0px 0px 20px;
}
#skill:visited{
    color:white;
}
.menu{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: center;

}

.head-menu {
    display: flex;
    justify-content:center;
    list-style: none;
    color: white;
    text-decoration: none;
}
.menu-text {
    padding:10px;
    margin-top:40px;
    font-size: 20px;
    letter-spacing:5px;
    
    
}
.menu-text:hover {
    color: red;
    cursor: pointer;
}



.titolo-centrale{
    position: absolute;
    top: 300px;
    left: 50px;
    font-size:50px;
    letter-spacing: 20px;

}
.titolo:hover{
    color:aqua;
    cursor: pointer;
}
.titolo{
    color: white;
    text-decoration: none;
}
.sottotitolo:hover{
    color:aquamarine;
    cursor: pointer;
}
.sottotitolo{
    font-size:30px;
    color:white;
    letter-spacing:10px;
}
